body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: cadetblue;
}
div.circle {
  margin: 40px;
  display: flex;
  flex-direction: row;
  animation: rotate 2s ease-in-out infinite;
}
div.circle > div {
  background-color: white;
  width: 20px;
  height: 20px;
  margin: 20px;
  border-radius: 50%;
}
div.box {
  margin: 80px;
  display: flex;
}
div.box > div {
  width: 25px;
  height: 85px;
  background-color: white;
  margin: 5px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes boxheight {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
  75% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
div.box > div:nth-child(1) {
  animation: boxheight 1s ease-in-out infinite 0s;
}
div.box > div:nth-child(2) {
  animation: boxheight 1s ease-in-out infinite 0.1s;
}
div.box > div:nth-child(3) {
  animation: boxheight 1s ease-in-out infinite 0.2s;
}
div.box > div:nth-child(4) {
  animation: boxheight 1s ease-in-out infinite 0.3s;
}
div.box > div:nth-child(5) {
  animation: boxheight 1s ease-in-out infinite 0.4s;
}
