* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.music-layout {
  margin: 30px;
  width: 350px;
  height: 700px;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.music__box {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 320px;
}
.music__top-bar {
  display: flex;
  justify-content: space-between;
  margin: 30px 25px;
  width: 290px;
  height: 20px;
  padding: 10px;
}
.playlist {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.playlist__img {
  display: flex;
}
.playlist__img__img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
.playlist__title {
  margin: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0.9;
}
.playlist__maintitle {
  font-size: 22px;
  font-weight: 600;
  margin: 15px;
}
.playlist__subtitle {
  font-weight: 600;
  font-size: 15px;
  opacity: 0.5;
}
.playlist__btn {
  width: 300px;
  height: 50px;
}
.playlist__2btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#btn-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 30px;
  text-align: center;
  width: 110px;
  height: 40px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
#btn-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 40px;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  color: rgb(197, 195, 195);
  font-weight: 600;
}
#btn-right i {
  margin-right: 10px;
  color: black;
}
.music-list {
  margin-left: 8px;
  width: 320px;
  height: 250px;
}
.song {
  display: flex;
  flex-direction: row;
  width: 310px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
}
.song__img {
  margin-right: 15px;
  width: 80px;
  height: 80px;
  border-radius: 15px;
}
.song__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 600;
}
.song__elipsis {
  width: 90px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.playlist__name {
  margin: 5px;
}
.song__name {
  margin: 5px;
}
.playlist__name {
  font-size: 15px;
  color: #c4c4c4;
}
.song__name {
  font-size: 17px;
  opacity: 0.9;
}
.now-running {
  display: flex;
  position: relative;
}
.running-box {
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  height: 80px;
  background-color: rgb(65, 65, 65);
  color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
}
.running__name {
  font-weight: 600;
}
.running__playlist {
  font-size: 13px;
  margin-left: 30px;
  opacity: 0.7;
  margin-bottom: 5px;
}
.running__song {
  font-size: 17px;
  margin-left: 30px;
  opacity: 0.9;
}
.nowrunning-btn i {
  margin-right: 15px;
  padding: 5px;
}

.music-layout2 {
  margin: 30px;
  width: 350px;
  height: 700px;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.nowmusic__box {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 320px;
}
.nowmusic__top-bar {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px;
  width: 280px;
  height: 20px;
  padding: 10px;
}
.nowmusic__album {
  display: flex;
  justify-content: center;
}
.nowmusic__img {
  margin-top: 50px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
}
.nowmusic__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nowmusic__maintitle {
  font-size: 25px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
  opacity: 0.9;
}
.nowmusic__subtitle {
  font-size: 15px;
  font-weight: 600;
  opacity: 0.4;
  margin-bottom: 20px;
}

.nowplaying__time {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  font-size: 14px;
  width: 270px;
  height: 20px;
  font-weight: 600;
  color: #b3b2b2;
}
.playing__line {
  margin-top: -10px;
  margin-left: 20px;
  width: 270px;
  height: 10px;
  border-top: 5px solid rgba(114, 114, 114, 0.6);
  position: absolute;
}
.playing__already {
  margin-top: -5px;
  margin-left: -1px;
  width: 100px;
  height: 10px;
  color: black;
  border-top: 5px solid rgba(0, 0, 0, 0.8);
}
.playing__bar {
  position: absolute;
  bottom: 1px;
  left: 100px;
}
.now-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
}
.re-btn {
  color: grey;
}
.back-btn {
  color: rgb(30, 30, 30);
}
.play-btn {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  color: rgb(32, 32, 32);
}
.forward-btn {
  color: rgb(30, 30, 30);
}
.shuffle-btn {
  color: grey;
}
