.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px 20px;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 20px;
}
.screen-header__point {
  display: flex;
  bottom: 20px;
  left: 60px;
  width: 5px;
  height: 5px;
  background-color: tomato;
  color: tomato;
  border-radius: 2.5px;
  position: relative;
}
